py-cord==1.7.3
wavelink==1.1.1
humanize==4.0.0
praw==7.5.0
pymongo[srv]==4.0.2
requests==2.27.1
twine==3.8.0
urllib3==1.26.8
virtualenv==20.13.1
python-dotenv==0.19.2
dnspython==2.2.1
pillow==9.0.1
aiohttp>=3.6.0