py-cord[voice]==2.0.0rc1
pycord.wavelink==1.0.0b55
humanize==4.0.0
asyncpraw==7.5.0
pymongo
requests==2.27.1
twine==3.8.0
urllib3==1.26.8
virtualenv==20.13.1
python-dotenv==0.19.2
dnspython==2.2.1
pillow-simd==9.0.0.post1
aiohttp==3.8.1
rich==12.3.0
pynacl==1.5.00
motor[srv]==2.5.1
beanie==1.11.1
pydantic==1.9.0
nest_asyncio==1.5.5